body{
    margin:0px;
    padding:0px;
    padding-top:30px;
}

.container{
    width:60%;
    margin:0 auto;
   
}

.header{
    text-align: center;
    background: green;
    color:white;
}

.logo{
    display:flex;
    justify-content:space-between;
    padding-bottom:30px;
}
.logo img{
    border:1px solid green;
}

.name {
    font-size:1.5rem;
    font-weight:bold;
}

p{
    
    margin:0;
}

table { 
    font-size: 75%;
    width: 100%; 
    padding-top:10px;
}

table { 
     border-collapse:separate; 
     border-spacing: 2px; 
}

table th, table td { 
    border: 1px solid black; 
    padding: 0.5em; 
    text-align: center;
    border-radius: 0.25em; 
}

.table th {
    background:rgb(219, 223, 219);
  
}

.table2{
    width:38%;
    float:right;  
    padding-top:50px;
}

.table2 th{
    width:50%;
    background:rgb(219, 223, 219);
    text-align:right; 
}

.end{
    border-bottom:3px solid green;
    padding-top:20px;
    clear:both;
}
